<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Blog">
  <select id="selectOne" resultType="hashmap">
    SELECT * FROM tb_blog WHERE id = #{id}
  </select>
  <select id="selectAll" resultType="hashmap">
    SELECT id, subject, content, reg_date, status FROM tb_blog ORDER BY id DESC LIMIT 10
  </select>
  <insert id="insert" parameterType="hashmap">
  	INSERT INTO tb_blog (subject, content, reg_date)
  	VALUES (#{subject}, #{content}, #{reg_date})
  </insert>
  <update id="update" parameterType="hashmap">
  	UPDATE tb_blog SET subject = #{subject}, content = #{content}, status = #{status}
	WHERE id = #{id}
  </update>
  <delete id="delete" parameterType="int">
  	DELETE FROM tb_blog	WHERE id = #{id}
  </delete>  
</mapper>